<footer class="footer">
    <div class="footer__container --container --flex --just-space">
        <div class="footer__column --flex --dir-col">
            <div class="footer__box --flex --dir-col">
                <h2 class="--title --title-light"
                    data-aos="fade-up">
                    Наші контакти
                </h2>
                <h3 class="--subtitle --subtitle-light"
                    data-aos="fade-up">
                    З радістю відповімо на усі ваші запити
                </h3>
            </div>
            <div class="footer__box --flex --dir-col">
                <a href="tel:+380630288462" class="footer__contact-link --text-hover">+380630288462</a>
                <a href="mailto:rostikr414@gmail.com" class="footer__contact-link --text-hover">rostikr414@gmail.com</a>
            </div>
            <div class="footer__row --flex">
                <a href="https://t.me/Rechimatusi" class="footer__social-link --svg__telegram"></a>
                <a href="https://www.tiktok.com/@user5092920691292?_t=8aCqxuf9apJ&_r=1"
                   class="footer__social-link --svg__tiktok"></a>
                <a href="https://instagram.com/welcome_to_ukraine_ditch?igshid=YmJhNjkzNzY="
                   class="footer__social-link --svg__instagram"></a>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__logo --svg__logo"></div>
        </div>
        <div class="footer__column">
            <div class="footer__row --flex">
                <a href="#about" class="--link --text-hover">Про нас</a>
                <a href="#achievements" class="--link --text-hover">Фото</a>
                <a href="#donation" class="--link --text-hover">Допомогти</a>
            </div>
        </div>
    </div>
    @@include('../../bem-blocks/legal-links/_legal-links.html')
</footer>