.card {
  @media (max-width: $md4 + px) {
    width: calc(100% - (15px + 10px));
  }

  z-index: 2;
  font-size: 14px;
  position: relative;
  padding: 20px;
  width: 400px;
  font-family: 'Work Sans', sans-serif;
  line-height: 19px;
  display: inline-block;
  background: $cardColor;
  border-radius: 10px;
}

.--card-decor-left {
  &:before {
    content: '';
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    border: 10px solid $pageBackgroundColorLight;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 0;
  }
}

.--card-decor-right {
  &:before {
    content: '';
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    border: 10px solid $pageBackgroundColorLight;
    transform: translate(50%, -50%);
    top: 50%;
    right: 0;
  }
}