<section class="feedback">
    <div class="feedback__container --container">
        <div class="swiper feedback__swiper">
            <div class="swiper-wrapper feedback__swiper-wrapper">
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Дякуємо!!! Ми отримали одяг і продукти. <br> Велике дякую вам!!!
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Доброго дня. Ми отримали посилку) ВСЕ ДУУУЖЕ КЛАСНЕ. ЗАДОВОЛЕНІ НА ВСІ 100)))👍👍👍 ДІВЧАТКА ВИ БОМБЕЗНО КРУТІ ФЕЇ) ПРОСТО НЕМА СЛІВ ЩОБ ВСЕ ПЕРЕДАТЬ.😍😘😘🍡😘
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Ми отримали вашу допомогу) Дуже вдячні вам за всі речі, які ви передали)
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Важко передати словами, які ми вдячні))) Діти дуже раділи усім солодощам, які ви передали
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Ми отримали посилку. Все неймовірне. Дякуємо!!!!
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Дякую вам, все просто супер🔥🔥 хай вас Бог благословить 🙏 так багато я не очікувала, ще раз дякую
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Отримали свій виграш. Міланці сподобалось. Дякуємо за вашу працю
                    </p>
                </div>
                <div class="swiper-slide feedback__slide">
                    <p class="feedback__message">
                        Дуже вам дякую за вашу незмежну допомогу
                    </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>