@mixin btn_anim($scaleMax:1.05, $scaleMin:0.95) {
	transform-origin: center center;
	transition: all ease-out 240ms;

	&:hover {
		transform: scale(#{$scaleMax});
	}

	&:focus {
		outline: transparent;
	}

	&:focus-visible {
		transform: scale(#{$scaleMax}) translateY(-5%);
	}

	&:active {
		transform: scale(#{$scaleMin});
	}
}

@mixin adaptive-position-absolute($pcTop,
                                  $pcLeft,
                                  $pcRight,
                                  $mobileTop,
                                  $mobileLeft,
                                  $mobileRight,)
{
	@media (max-width: 1150px) {
		top: $mobileTop;
		right: $mobileRight;
		left: $mobileLeft;
	}
	position: absolute;
	top: $pcTop;
	right: $pcRight;
	left: $pcLeft;
}

@mixin adaptive-hide($breakpoint) {
	@media (max-width:$breakpoint) {
		display: none;
	}
}

@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}