<section class="donation"
         id="donation">
    <div class="donation__container --container">
        <div class="donation__text">
            <h2 class="--title --title-light --flex"
                data-aos="fade-up">
                Ви можете зберегти життя
            </h2>
            <h3 class="--subtitle --subtitle-light --flex"
                data-aos="fade-up">
                З радістю відповімо на усі ваші запити
            </h3>
        </div>
        @@include('../../bem-blocks/donation-hashtag/_donation-hashtag.html')
        @@include('../../bem-blocks/donation-btns/_donation-btns.html')
    </div>
</section>