.achievements {
  background: url("../img/content/achievements/bg.svg") $pageBackgroundColorLight center top no-repeat;

  @media (max-width: 1150px) {
    background:  $pageBackgroundColorLight;
  }

  &__container {
    @media (max-width: 1150px) {
      max-width: 400px;
      padding: 80px 0;
      gap: 30px;
    }
    max-width: 1920px;
    padding: 220px 0 110px 0;
    gap: 50px;
    position: relative;
  }

  &__box {
    @media (max-width: 1150px) {
      padding: 15px;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    @media (max-width: 1150px) {
      margin-bottom: 600px;
    }
    text-align: center;
  }

  &__img-01 {
    @include adaptive-position-absolute(80px,80px,none,400px,15px,none);
  }

  &__img-02 {
    @include adaptive-hide(1150px);
    @include adaptive-position-absolute(180px,300px,none,none,none,none);
  }

  &__img-03 {
    @include adaptive-position-absolute(280px,20px,none,250px,70px,none);
  }

  &__img-04 {
    @include adaptive-position-absolute(380px,120px,none,660px,50px,none);
  }

  &__img-05 {
    @include adaptive-hide(1150px);
    @include adaptive-position-absolute(560px,80px,none,none,none,none);
  }

  &__img-06 {
    @include adaptive-position-absolute(100px,30px,none,320px,30px,none);
  }

  &__img-07 {
    @include adaptive-position-absolute(30px,none,50px,240px,none,0);
  }

  &__img-08 {
    @include adaptive-hide(1150px);
    @include adaptive-position-absolute(220px,none,200px,none,none,none);
  }

  &__img-09 {
    @include adaptive-hide(1150px);
    @include adaptive-position-absolute(320px,none,30px,none,none,none);
  }

  &__img-10 {
    @include adaptive-position-absolute(430px,none,30px,580px,none,15px);
  }
}
