<section class="achievements">
  <h2 class="achievements__title --title --title-dark">Наші досягнення</h2>
  <h3 class="achievements__subtitle --subtitle --subtitle-dark">Ми змогли допомогти багатьом людям з початку війни</h3>
  <div class="achievements__progress achievements-progress">
    <div class="achievements-progress__digits">

    </div>
    <progress class="achievements-progress__bar"
              value="70"
              >

    </progress>
  </div>
  <a href="" class="achievements__link --button --button-black">Допомогти</a>
</section>

<!-- TODO: replace flex styles with classes -->