<section class="achievements">
  <div class="achievements__container --flex --dir-col --align-center --just-center --container">
    <h2 class="achievements__title --title --title-dark">Наші досягнення</h2>
    <h3 class="achievements__subtitle --subtitle --subtitle-dark">Ми змогли допомогти багатьом людям <br> з початку війни</h3>
    <div class="achievements__box">
      @@include("../../bem-blocks/numbers-animation/_numbers-animation.html")
      @@include("../../bem-blocks/progress-bar-animation/_progress-bar-animation.html")
    </div>
    <a href="" class="achievements__link --button --button-black">Допомогти</a>
    <img src="../../../img/content/achievements/01.webp"
         alt="" class="achievements__img-01"
         style="width: 167px; height: 167px">
    <img src="../../../img/content/achievements/02.webp"
         alt="" class="achievements__img-02"
         style="width: 88px; height: 88px">
    <img src="../../../img/content/achievements/03.webp"
         alt="" class="achievements__img-03"
         style="width: 63px; height: 63px">
    <img src="../../../img/content/achievements/04.webp"
         alt="" class="achievements__img-04"
         style="width: 153px; height: 153px">
    <img src="../../../img/content/achievements/05.webp"
         alt="" class="achievements__img-05"
         style="width: 98px; height: 98px">
    <img src="../../../img/content/achievements/06.webp"
         alt="" class="achievements__img-06"
         style="width: 63px; height: 63px">
    <img src="../../../img/content/achievements/07.webp"
         alt="" class="achievements__img-07"
         style="width: 184px; height: 184px">
    <img src="../../../img/content/achievements/08.webp"
         alt="" class="achievements__img-08"
         style="width: 63px; height: 63px">
    <img src="../../../img/content/achievements/09.webp"
         alt="" class="achievements__img-09"
         style="width: 63px; height: 63px">
    <img src="../../../img/content/achievements/10.webp"
         alt="" class="achievements__img-10"
         style="width: 122px; height: 122px">
  </div>
</section>

<!-- TODO: replace flex styles with classes -->