.--flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

.--title {
	font-family: 'Kharkiv Tone', sans-serif;
	font-size: 32px;
	line-height: 36px;
}

.--title-dark {
	color: $blue;
}

.--title-light {
	color: $white;
}

.--subtitle {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	line-height: 19px;
}

.--subtitle-dark {
	color: $blue;
}

.--subtitle-light {
	color: $white;
}

.--link {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	color: $lightGrey;
}

.--container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 5px;
	}
}

.--text-hover:hover {
	text-decoration: underline;
}

.--button {
	@media(max-width: 550px) {
		width: 95%;
	}

	@include btn_anim();
	cursor: pointer;
	text-align: center;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	border-radius: 40px;
	padding: 10px 50px;
}

.--button-black {
	color: $white;
	background-color: $black;
}

.--button-yellow {
	color: $black;
	background-color: $yellow;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}