<div class="donation-btns">
    <div class="donation-btns__row">
        <div class="donation-btns__price"
             tabindex="0">
            $10
        </div>
        <div class="donation-btns__price"
             tabindex="0">
            $50
        </div>
        <div class="donation-btns__price donation-btns__price__active"
             tabindex="0">
            $100
        </div>
    </div>
    <div class="donation-btns__submit --button --button-yellow"
         tabindex="0">
        Зробити пожертву
    </div>
</div>