<section class="about">
    <h2 class="--title --title-dark about__title">Про нас</h2>
    <div class="about__grid about-grid --container">
        <img src="../../../img/content/about/01.webp"
             alt=""
             class="about-grid__item-1 about-grid__item"
             style="width: 244px; height: 241px;">
        <img src="../../../img/content/about/02.webp"
             alt=""
             class="about-grid__item-2 about-grid__item"
             style="width: 244px; height: 241px;">
        <img src="../../../img/content/about/03.webp"
             alt=""
             class="about-grid__item-3 about-grid__item"
             style="width: 244px; height: 241px;">
        <p class="about-grid__item-4 about-grid__item card --card-decor-left">
            Ми благодійний фонд Welcome to Ukraine з міста Миколаїв. Спочатку ми були ініціативною групою до 23 серпня 2022 року, потім зареєстрували благодійний фонд. Наша команда складається з 35 осіб.
        </p>
        <p class="about-grid__item-5 about-grid__item card --card-decor-left">
            Від початку війни ми займались евакуацією мирного населення з міста-героя Миколаєва, так як наше місто обстрілювали кожного дня. <br/><br/> В той же час почали надавати гуманітарну допомогу мирному населенню, яку нам надсилали небайдужі люди з Європи, а саме з Іспанії та Польщі.
        </p>
        <p class="about-grid__item-6 about-grid__item card --card-decor-left">
            Коли люди побачили результат нашої праці та кількість запитів до нас виросла в рази, ми вирішили заснувати благодійний фонд, щоб легально отримувати допомогу з інших країн та організацій.
        </p>
    </div>
</section>

<!-- TODO: replace card component with global class -->