<section class="volunteering">
    <h2 class="--title --title-dark about__title">Як ми допомагаємо мирному населенню</h2>
    <div class="volunteering__grid volunteering-grid --container">
        <div class="volunteering-grid__item volunteering-grid__item-1">
            <img src="../../../img/content/volunteering/01.webp"
                 alt=""
                 style="width: 295px; height: 140px">
            <img src="../../../img/content/volunteering/02.webp"
                 alt=""
                 class="volunteering__hide-on-mobile"
                 style="width: 140px; height: 140px">
        </div>
        <p class="volunteering-grid__item volunteering-grid__item-2 card --card-decor-right">
            Розвозимо гуманітарну допомогу по всій лінії розмежування нашого фронту (зруйновані села, деокуповані громади)
        </p>
        <div class=" volunteering-grid__item volunteering-grid__item-3">
            <img src="../../../img/content/volunteering/03.webp"
                 alt=""
                 class="volunteering__hide-on-mobile"
                 style="width: 140px; height: 140px">
            <img src="../../../img/content/volunteering/04.webp"
                 alt=""
                 style="width: 295px; height: 140px">
        </div>
        <p class="volunteering-grid__item volunteering-grid__item-4 card --card-decor-left">
            Адресна доставка продуктів, гігієни та необхідних речей малозабезпеченим родинам з дітьми (вже понад 2000 сімей)
        </p>
        <div class="volunteering-grid__item volunteering-grid__item-5">
            <img src="../../../img/content/volunteering/05.webp"
                 alt=""
                 style="width: 295px; height: 140px">
            <img src="../../../img/content/volunteering/06.webp"
                 alt=""
                 class="volunteering__hide-on-mobile"
                 style="width: 140px; height: 140px">
        </div>
        <p class="volunteering-grid__item volunteering-grid__item-6 card --card-decor-left">
            В місті надаємо допомогу госпіталям, лікарням, малозабезпеченим родинам з інвалідами, ВПО, біженцям з Маріуполя, Херсону та Снігурівки
        </p>
        <div class="volunteering__line volunteering__hide-on-mobile"></div>
    </div>
</section>